
html { 
  background: url("pexels-koi.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
.logo {
    margin:20px;
    height: 200px;
    width: 200px;
}
.welcome {
    background-color: rgba(248, 248, 255, 60%);
    font-family: 'Allan', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    align-self: center;
}

.welcome-form {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;

}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    margin: 5px;
}

.form-button {
    border-radius: 4px;
    margin:20px;
    padding:15px 30px;
    border: none;
    background-color: #FADB4D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.form-button:hover {
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

.file-input {
    background-color: #FADB4D;
    padding:5px;
}

.header {
    background-color: rgb(248, 248, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.header-pic {
    height: 90px;
    width: 90px;
    margin:5px;
    object-fit: cover;
}
.profile-pic-div {
    justify-content: flex-end;
    
}
.header-profile-pic {
    height: 90px;
    width: 90px;
    margin:5px;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
}
.uploader {
    background-color: rgba(248, 248, 255, 90%);
    font-family: 'Allan', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    justify-content: center;
    padding-bottom: 30px;
    height: 410px;
}

.closeX {
    margin-top: 20px;
    font-size: 30px;
    align-self: flex-end;
    padding-right: 20px;
}
.up {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-box {
    background-color: rgba(248, 248, 255, 100%);
    font-family: 'Allan', cursive;
    display: flex;
    width: 600px;
    padding: 30px;
    margin: 20px;
}

.big-profile-pic {
    width: 200px;
    height: 300px;
    margin:10px;
    object-fit: cover;
}

.bio {
    display: flex;
    flex-direction: column;
}
.bio-text {
    padding-bottom:20px;
}

.add-bio {
    border: 1px solid black;
    padding: 15px;
}
.update-bio-button {
    font-family: 'Allan', cursive;
    font-size: 15px;
    border-radius: 4px;
    padding: 5px 30px;
    border: none;
    background-color: #fadb4d42;
}
.update-bio-button:hover {
    background-color: #FADB4D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.save-bio-button {
    font-family: 'Allan', cursive;
    font-size: 15px;
    border-radius: 4px;
    padding:5px 30px;
    border: none;
    background-color: #FADB4D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main-body {
    display: flex;
    flex-direction: row;
}

.find-box {
    background-color: rgba(248, 248, 255, 100%);
    font-family: 'Allan', cursive;
    display: flex;
    width: 600px;
    padding: 10px;
    margin: 20px;
}


.users {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.user-box {
    display: flex;
    border: 1.5px solid #00000029;
    margin: 5px;
    flex-direction: column;
    width: 110px;
    padding: 7px;
}

.user-pic {
    height: 100px;
    width: 100px;
    margin:5px;
    object-fit: cover;
}

.link-list {
    background-color: rgba(248, 248, 255, 80%);
    font-family: 'Allan', cursive;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30px;
    padding-right: 10px;
    padding-top: 5px;
}

.link-list a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    border:1px solid rgb(248, 248, 255);
    padding: 5px;
}
.link-list a:hover {
    background-color: #e277199a;
    text-decoration: underline;
    cursor:pointer;
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor:pointer;
    color:#b35809;

}

.friend-button {
    font-family: 'Allan', cursive;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px 75px;
    border: none;
    background-color: #f5d43f8c;
    margin: 10px;
    cursor:pointer;
}

.bio-box {
    border: 1.5px solid #00000029;
    padding: 8px;
}

p {
    margin:10px;
}
h2 {
    margin-left: 8px;
}

.friends-box {
    width: 564px;
    background-color: rgba(248, 248, 255, 100%);
    font-family: 'Allan', cursive;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    margin: 20px;

}

a {
    text-decoration: none;
    color: black;

}
.friendjs-button {
    font-family: 'Allan', cursive;
    font-size: 15px;
    border-radius: 4px;
    padding: 9px 20px;
    border: none;
    background-color: #f5d43f8c;
    margin: 10px;
    cursor:pointer;
    height: 40px;
}

.friendjs-box {
    display: flex;
    flex-direction: row;
    border: 1.5px solid #00000029;
    margin: 5px;
}
.friendjs-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.f-box, .w-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chat-box {
    background-color: rgba(248, 248, 255, 100%);
    font-family: 'Allan', cursive;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin: 20px;
    align-items: center;
}
.new-messages {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    align-items: center;
}

.chat-button {
    font-family: 'Allan', cursive;
    font-size: 15px;
    border-radius: 4px;
    padding: 9px 20px;
    border: none;
    background-color: #f5d43f8c;
    margin: 10px;
    cursor:pointer;
    height: 40px;
    width: 50%;

}
.otherprofile{
    display: flex;
}
.otherprofile-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.otherprofile-button {
    font-family: 'Allan', cursive;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 60px;
    border: none;
    background-color: #f5d43f8c;
    margin: 10px;
    cursor: pointer;
}

.myprofile-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    
}
.chat-user-box {
    display: flex;
    flex-direction: row;
    border: 1.5px solid #00000029;
    margin: 5px;
    width: 500px;
}
.chat-pic {
    height: 30px;
    width: 30px;
    margin:5px;
    object-fit: cover;

}
.chat-name {
    margin:0;
    padding:0;
    margin-left: 3px;
}

.chat-user {
    padding: 10px;
}